<header style="border-bottom:5px solid #CEA95D;">
  <table style="width:100%; text-align:center; padding: 10px" border="0">
    <tr>
      <td>
        <a href="https://{{domain}}" target="_blank"><img
            src="http://{{domain}}/static/images/Regalia-logo-2.png"
            style="max-width:600px;width:137px;outline:0;border:0;text-decoration:none;margin-bottom:10px"
            alt="logo.svg"
          /></a>
      </td>
    </tr>
    <tr>
      <td>
        <h1
          style="font-weight:700;line-height:normal;font-size:2rem;margin: 10px 0px 0px;padding: 0;"
        >
          Thank you for patronizing CieloZilver!</h1>
      </td>
    </tr>
  </table>
</header>
